@import 'tailwindcss';
@plugin "daisyui";

:root {
  --font-geist-sans: 'Geist Sans', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
}

body {
  font-family: var(--font-geist-sans), system-ui, -apple-system, sans-serif;
}
